nb-card-body {
    display: flex;
    flex-direction: row;
}

* {
    // padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}