nb-card-body {
    display: flex;
    flex-direction: row;
}

* {
    // padding-bottom: 0px;
    margin-bottom: 0px;

}

.timeOk {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
}
.timeBad {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    color: red;
}