img {
    max-height: 50px;
    max-width: 50px;
}
nb-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nb-card {
    min-width: 150px;
}
nb-card-body {
    display: flex;
    flex-direction: columnÒ;
}