<nb-layout>
    <nb-layout-column>
        
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <app-pccard [name]="'Lux'" [number]="1" ></app-pccard>
            </div>
            <div class="col-sm">
              <app-pccard [name]="'Lucian'" [number]="2"></app-pccard>
            </div>
            <div class="col-sm">
              <app-pccard [name]="'Jinx'" [number]="3"></app-pccard>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <app-pccard [name]="'Fizz'" [number]="4"></app-pccard>
            </div>
            <div class="col-sm">
              <app-pccard [name]="'Senna'" [number]="5"></app-pccard>
            </div>
            <div class="col-sm">
              <app-pccard [name]="'Ashe'" [number]="6"></app-pccard>
            </div>
          </div>
        </div>
    </nb-layout-column>
</nb-layout>
