nb-card-body {
    display: flex;
    flex-direction: row;
    padding : 5px 10px;
    justify-content: space-between;
}

* {
    // padding-bottom: 0px;
    margin-bottom: 0px;

}
.time {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    align-self: center;
}

.timeOk {
}
.timeBad {
    color: red;
}

.bodyTimeBad {
    border-color: red;
    border-width: 3px;
}
.bodyTimeGood {

}