<nb-layout>
  <nb-layout-header subheader>header</nb-layout-header>
  <nb-sidebar>Sidebar Content</nb-sidebar>
  <nb-layout-column>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <app-pccard></app-pccard>
        </div>
        <div class="col-sm">
          <app-pccard></app-pccard>
        </div>
        <div class="col-sm">
          <app-pccard></app-pccard>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <app-pccard></app-pccard>
        </div>
        <div class="col-sm">
          <app-pccard></app-pccard>
        </div>
        <div class="col-sm">
          <app-pccard></app-pccard>
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>footer</nb-layout-footer>
</nb-layout>